<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.macnair.gamehelper"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />
    <supports-screens android:normalScreens="false" android:largeScreens="true" android:requiresSmallestWidthDp="600" android:xlargeScreens="true" android:smallScreens="false"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_dice"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.macnair.gamehelper.HelperListActivity"
            android:label="@string/app_name" 
            android:screenOrientation="sensorLandscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.macnair.gamehelper.HelperDetailActivity"
            android:label="@string/title_helper_detail"
            android:parentActivityName=".HelperListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HelperListActivity" />
        </activity>
    </application>

</manifest>